<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
	<script src="/admin_functions.js"></script>
</head>
<body>
    <header>
        <%- include('../partials/nav') %>
        <div id="sidebar" class="sidebar">
            <a href="/admin/announcementRequests" class="order"><button ><i class="fa-solid fa-house"></i>Announcement Requests</button></a>
            <a href="/admin/companyRequests" class="order"><button >Company Requests</button></a>
            <a href="/admin/applicationRequests"  class="order"><button style="background-color: rgb(217, 4, 4);">Application Requests</button></a>
        </div>
    </header>
    <div class="container mt-3">
        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-9">
                <h1 class="h3 mb-3 ms-5">Applications</h1>
                <div class="row">
                    <% applications.forEach(application => { %>
                        <div class="card text-bg-dark bordered border-3 mb-3 col-md-5 me-auto ms-auto">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="card-body">
                                        <h3 class="card-title">Student Name: <%= application.Student.studentName %></h3>
                                        <h5 class="card-title">Announcement Name: <%= application.Announcement.announcementName %></h5>
                                        <button class="btn btn-success" onclick="updateApplication('<%= application.id %>', true)">Approve</button>
                                        <button class="btn btn-danger" onclick="updateApplication('<%= application.id %>', false)">Reject</button>
                                        <hr>
                                    </div>
                                </div>
                            </div>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
