<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Students</title>
    <link rel="stylesheet" href="/adminApplications.css">
</head>
<body>
    <header>
        <%- include('../partials/nav') %>
        <div id="sidebar" class="sidebar">
			<a href="/company" class="order"><button>HOME</button></a>
            <a href="/company/companyShareOpportunity" class="order"><button>Share Opportunity</button></a>
            <a href="/company/applications" class="order"><button style="background-color: rgb(217, 4, 4);">Applications</button></a>
        </div>
    </header>

    <div class="container-apl">
        <div class="content-apl">
            <div class="students-container row row-cols-sm-1 row-cols-md-2 row-cols-lg-2 row-cols-xl-4 row-cols-xxl-5 g-4">
				<% if (typeof applications !== 'undefined' && applications.length > 0) { %>
                	<% applications.forEach(application => { %>
                	    <div class="col">
							<button class="as" onclick="window.location.href='/company/applications/:<%= application.id %>'">
                	        <div class="student-card card h-100 shadow-sm">
                	            <div class="card-body">
                	                <h5 class="card-title"><strong><%= application.Student.username %></strong></h5>
                	                <p class="card-text"><strong>ID:</strong> <%= application.Student.id %></p>
                	                <p class="card-text"><strong>Announcement:</strong> <%= application.Announcement.announcementName %></p>
                	            </div>
                	        </div>
							</button>
                	    </div>
                	<% }) %>
				<% } else { %>
					<h2>There are no applications or you have reviewed all applications</h2>
				<% } %>
            </div>
        </div>
    </div>
</body>
</html>