<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Apply Page</title>
</head>

<body>
    <header>    
        <%- include('../partials/nav') %>
        <link rel="stylesheet" href="/apply.css">
        <div id="sidebar" class="sidebar">
            <a href="/student" class="order"><button><i class="fa-solid fa-house"></i>Home</button></a>
            <a href="/student/opportunities" class="order"><button>Opportunities</button></a>
            <a href="/student/applications" class="order"><button>Applications</button></a>
            <a href="/student/internships" class="order"><button>Internships</button></a>
        </div>
    </header>

    <div class="container-apply">
        <% if (announcement !== null) { %>
            <div class="content-apply">
                <div class="details-container">
                    <div class="image-container">
                        <img src="<%= announcement.image %>" class="card-img-top fixed-size-img" alt="Announcement Image">
                    </div>
                    <div class="card">
                        <div class="card-header">
                            Submit Your Details
                        </div>
                        <div class="card-body">
                            <form class="input-form" id="applyForm" method="POST" action="/student/opportunities/:<%= announcement.id %>" enctype="multipart/form-data">
                                <div class="mb-3">
                                    <label for="CV" class="form-label">Upload CV</label>
                                    <input type="file" class="form-control" id="CV" name="CV" accept=".pdf,.doc,.docx" required>
                                </div>
                                <div class="mb-3">
                                    <label for="studentNumber" class="form-label">Student's Phone Number</label>
                                    <input type="text" class="form-control" id="user_phone" name="user_phone" pattern="^0[5][0-9]{9}$" maxlength="11" placeholder="05XXXXXXXXX" required>
                                </div>
                                <div class="mb-3">
                                    <label for="relativeNumber" class="form-label">Relative's Phone Number</label>
                                    <input type="text" class="form-control" id="relative_phone" name="relative_phone" pattern="^0[5][0-9]{9}$" maxlength="11" placeholder="05XXXXXXXXX" required>
                                </div>
                                <button type="submit" class="sbt-button">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="details-container-2">
                    <h2 class="card-subtitle mb-2"><%= announcement.Company.name %></h2>
                    <h4 class="card-subtitle mb-2 text-muted"><%= announcement.announcementName %></h4>
                    <br>
                    <h5 class="card-subtitle mb-2">Description:</h5>
                    <p class="card-text"><%= announcement.description %></p>
                </div>
            </div>
        <% } else { %>
            <h2>No information found about this announcement.</h2>
        <% } %>
    </div>
</body>
</html>